@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}

#Center{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 10%;
    position: center;
    top:10%;
    animation: fadein 1.5s;
}
img{
    object-fit: none;
    object-position: 30% 0;
    height: 400px;
    border-radius: 15px 50px;
    width: 400px;
}

a{
    color: #2a2a2a;
    font-size: 19pt;
    text-decoration: none;
    margin: 30px;
}